.l-Page {
  &-backgroundWrapper {
    display: none;
    @include min-respond-to('medium') {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
    }
  }

  &-overlay {
    background: #fff;
    position: fixed;
    width: 100vw;
    height: 100%;
    left: 0;
    top: 0;
  }

  @include min-respond-to('medium') {
    &-leftContainer {
      background-color: #422583;
      min-height: 100vh;
      width: 65%;
    }

    &-rightContainer {
      background-color: #7AC8CC;
      min-height: 100vh;
      width: 35%;
    }
  }

  &-dimensionHelper {
    @include grid-wrapper;
    height: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    width: 100%;
  }
}

.l-Main {
  display: flex;
  height: 100vh;

  &.loading-finished {
    height: auto;
  }

  @include min-respond-to('medium') {
    height: 80vh;
    align-items: center;

    &.loading-finished {
      height: 80vh;
    }
  }
}

.fadeOut-enter-active, .fadeOut-leave-active {
  transition: opacity 1.5s cubic-bezier(.72,.22,.56,1.02) 0.5s;
}
.fadeOut-enter, .fadeOut-leave-active {
  opacity: 0;
}

.fadeOutVerical-enter-active, .fadeOutVerical-leave-active {
  transition: opacity 20s cubic-bezier(.72,.22,.56,1.02);
}
.fadeOutVerical-enter, .fadeOutVerical-leave-active {
  opacity: 0;
}

.fadeIn-enter-active, .fadeIn-leave-active {
  transition: opacity 1.5s cubic-bezier(.09,.55,.81,.42) 0.3s;
}
.fadeIn-enter, .fadeIn-leave-active {
  opacity: 0;
}

.fadeInSubline-enter-active, .fadeInSubline-leave-active {
  transition: opacity 0.8s cubic-bezier(.09,.55,.81,.42) 0.5s;
}
.fadeInSubline-enter, .fadeInSubline-leave-active {
  opacity: 0;
}
