.l-Teaser {
  // background-color: $color-purple;
  width: 100%;

  @include min-respond-to('medium') {
    height: 65vh;
  }

  @include min-respond-to('medium_large') {
    height: 70vh;
  }

  @include min-respond-to('extra_large') {
    height: 80vh;
  }

  @include min-respond-to('infinity') {
    height: 70vh;
  }

  &-wrapper {
    @include grid-wrapper;
  }

  &-containerClone {
    @include grid-container;
    opacity: 0;
    align-items: center;
    justify-content: flex-end;
    transition: all 1s ease;
  }

  &-placeholder {
    height: 80vh;
    width: 8%;

    @include min-respond-to('medium_large') {
      width: 12%;
    }
  }

  &-container {
    @include grid-container;


    &--center {
      align-items: center;
      flex-direction: column;
      justify-content: center;

      @include max-respond-to('medium') {
        min-height: 80vh;
        height: 80vh;

        // &.animation-finished {
        //   height: 100%;
        // }
      }

      @include min-respond-to('medium') {
        height: 65vh;
        transition: all 1s ease;
      }

      @include min-respond-to('medium_large') {
        height: 70vh;
      }

      @include min-respond-to('extra_large') {
        height: 80vh;
      }

      @include min-respond-to('infinity') {
        height: 70vh;
      }

      &.fullscreen {
        height: 80vh;
        left: 0;
        top: 10vh;
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        min-height: 80vh;
        position: fixed;
        

        @include max-respond-to('medium') {
          min-height: 80vh;
          height: 80vh;
        }

        @include min-respond-to('medium') {
          height: 100%;
          top: 0;
        }
      }
    }
  }

  &-arrowDown {
    bottom: 0;
    height: 30px;
    position: absolute;
    right: 0;
    width: 60px;

    &Icon {
      left: 50%;
      position: absolute;
      top: -100%;
      transform: translate(-50%);
    }
  }

  &-textClone {
    @include grid-cell(5);
    flex: 1;
    height: 80vh;
    max-width: 100%;
  }

  &-text {
    @include grid-cell(12);

    align-self: flex-start;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    text-transform: uppercase;

    @include max-respond-to('medium') {
      position: absolute;
      top: 0;

      &.animation-finished {
        position: relative;
        background-color: #422583;
        
        .l-Teaser-arrowDown {
          background-color: $color-teal;
        }
      }
    }

    @include min-respond-to('medium') {
      @include grid-cell(5);

      background-color: transparent;
      height: 100%;
      display: none;

      &.animation-finished {
        display: flex;
        position: relative;
      }
    }

    &Inner {
      @include grid-cell(11);

      margin-bottom: 60px;

      @include min-respond-to('medium') {
        @include grid-cell(12);

        margin-bottom: 0;
      }
    }
  }

  &-title {
    color: #fff;
    margin-bottom: 64px;
    position: relative;
  }

  &-fortyTwo {
    @include typography('special');

    display: inline-block;
    opacity: 0.5;
    transform: translateY(30%);
  }

  &-headline {
    @include typography('h1');

    margin-bottom: 10px;
    padding-left: 5vw;

    &Wrapper {
      visibility: hidden;

      &.is-visible {
        visibility: visible;
      }
    }
  }

  &-subline {
    @include typography('h2');
  }

  &-intro {
    margin-bottom: 20px;
    opacity: 0;
    text-transform: none;
    transform: translateY(20px);

    &.is-visible {
      opacity: 1;
      transition: all 0.8s ease 0.4s;
      transform: translateY(0);
    }
  }

  &-button {
    cursor: pointer;
    font-size: 14px;
    padding: 3px 10px;
    position: relative;
    text-transform: uppercase;

    &Wrapper {
      align-self: flex-start;
      display: none;
      opacity: 0;

      @include min-respond-to('medium') {
        display: inline-block;
      }

      &.is-visible {
        opacity: 1;
        transition: all 0.8s ease 0.8s;
        transform: translateY(0);
      }

      div {
        height: 1px;
      }

      div:first-child {
        background-image: linear-gradient(to right, #fff 40%, rgba(0, 0, 0, 0) 20%);
        background-position: top;
        background-size: 4px 1px;
        background-repeat: repeat-x;
      }

      div:nth-child(3) {
        background-image: linear-gradient(to right, #fff 40%, rgba(0, 0, 0, 0) 20%);
        background-position: bottom;
        background-size: 4px 1px;
        background-repeat: repeat-x;
      }
    }

    &:before {
      background-image: linear-gradient(#fff 33%, rgba(0,0,0,0) 0%);
      background-position: left;
      background-size: 1px 4px;
      background-repeat: repeat-y;
      content: '';
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
    }

    &:after {
      background-image: linear-gradient(#fff 33%, rgba(0,0,0,0) 0%);
      background-position: right;
      background-size: 1px 4px;
      background-repeat: repeat-y;
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
    }
  }

  &-cardClone {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: calc(100vw * 1.41);
    padding: 40px;
    width: 100vw;

    @include min-respond-to('medium') {
      height: 65vh;
      width: calc(65vh / 1.41);
    }

    @include min-respond-to('medium_large') {
      height: 70vh;
      width: calc(70vh / 1.41);
    }

    @include min-respond-to('extra_large') {
      height: 80vh;
      width: calc(80vh / 1.41);
    }

    @include min-respond-to('infinity') {
      height: 70vh;
      width: calc(70vh / 1.41);
    }
  }

  &-card {
    @include grid-cell(12);

    align-items: center;
    background-color: #fff;
    display: flex;
    height: calc(100vw * 1.41);
    padding: 40px;
    width: 100vw;
    

    @include max-respond-to('medium') {
      &.animation-finished {
        // box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        position: relative;
        transition: all 0.3s ease;
      }
    }

    @include min-respond-to('medium') {
      height: 65vh;
      width: calc(65vh / 1.41);

      &.animation-finished {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        transition: box-shadow 0.3s ease;
      }

      &.is-not-IE {
        position: absolute;
        top: 0;
      }
    }

    &.has-box-shadow {
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
      transition: box-shadow 0.5s ease-out;
    }

    @include min-respond-to('medium_large') {
      height: 70vh;
      width: calc(70vh / 1.41);
    }

    @include min-respond-to('extra_large') {
      height: 80vh;
      width: calc(80vh / 1.41);
    }

    @include min-respond-to('infinity') {
      height: 70vh;
      width: calc(70vh / 1.41);
    }
  }

  &-mobileSwipe {
    background-color: $color-teal;
    height: 110vh;
    position: absolute;
    top: -10vh;
    left: 0;
    overflow-x: hidden;
    width: 101vw;
    transform: translateX(-101vw);
    z-index: 1;

    @include min-respond-to('medium') {
      display: none;
    }


    &.slide-in {
      transform: translateX(0);
      transition: transform 0.4s ease-in;
    }

    &.slide-out {
      transform: translateX(101vw);
      transition: transform 0.4s cubic-bezier(.65,.29,.69,1.02) 0.2s;
    }
  }
}

